.slick-arrow {
  display: flex !important;
    width: 40px;
 
}
.slick-dots {
  bottom: 8px;

  li button:before {
    font-size: 10px;
    color: #2b2b2b;
  }
}
.slick-prev {
    z-index: 100;
    left: 8px;
}
.slick-next {
    right: 8px;
}
 .slick-next:before, .slick-prev:before {
    position: absolute;
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content:center;
}
