.bg-gradientt {
  background: linear-gradient(
    90deg,
    rgb(255, 212, 0) 0%,
    rgb(199, 49, 48) 50.52%,
    rgb(102, 54, 149) 99.61%
  );
  border: none;
  color: rgb(255, 255, 255) !important;
}
.header-menu {
  padding: 4px 0px;
  display: flex;
  color: rgb(255, 255, 255);

  .menu-content {
    gap: 20px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;

    .menu-item {
      white-space: nowrap;
    }
  }
  .separator {
    width: 2px;
    min-width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
  }
}

.btn-category {
  height: 35px;
  padding: 0px 20px;
  align-items: center;
  background-color: #fff;
  border-color: #efefef;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 22.001px;
  padding: 0px 20px;
  text-align: center;
}
