.brand-slide {

  .slide-brand-item {
    width: 220px;
    height: 120px;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-right:20px;
    margin-top: 5px;


    img {
      width: 220px;
      height: 120px;
      border-radius: 8px;
    }
  }

  .slick-prev {
    z-index: 100;
    left: 8px;
  }
  .slick-next {
    right: 8px;
  }
  .slick-next:before,
  .slick-prev:before {
    position: absolute;
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #2f2f2f;
  }
  .slick-disabled{
    display: none !important;
  }

  .slide-brand-item:hover{
    background:#fff!important ;
    cursor: pointer;
    transform: translateY(-3px);
    transition: all ease .1s;
  }
}
@media only screen and (max-width: 600px) {
 .slide-brand-item{
  display: inline-flex !important;
 }
 

}
