.box-gmail{
     background: linear-gradient(
    90deg,
    rgb(255, 212, 0) 0%,
    rgb(199, 49, 48) 50.52%,
    rgb(102, 54, 149) 99.61%
  );
  padding:30px 60px;
  border-radius: 20px;

  p,h4 {
    margin: 0;
    color: white;
  }

  .box-gmail-input {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);


    input{
        outline: 0;
        border-color: transparent;
        color: white;
        background-color: transparent;
    }
    ::-webkit-input-placeholder{
    color: white;
    }
    ::-moz-input-placeholder{
    color: white;
    }

    button {
        border: none;
        background-color: transparent;
        color: white;
    }

    button:hover{
        color: yellow;
    }
  }

  .box-gmail-input:hover {
    border: 2px solid white;
  }
  
 

}
@media only screen and (max-width: 600px) {
    input {
      width: 100%;
    }

}
