.card-product {
  border: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(255, 255, 255);

   

  .card-content {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 14px 10px;
    flex: 1 1 0%;
    width: 100%;


    

    p {
      margin: 0;
    }

    .card-content-inner {
      text-align: center;
      width: 100%;
      -webkit-box-flex: 2;
      flex: 1 1 0%;
    }

    .ant-rate,
    p {
      margin-bottom: 10px;
    }
    .card-content__decsrciption {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
    }
    .card-content__price {
      font-size: 14;
      font-weight: 700;
    }
  }

 
  .ant-card-body {
    padding: 0 !important;
  }
  .btn-quick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: none;
    border: none;

    span {
      font-size: 14px;
    }
  }
  .btn-quick:hover {
    background-image: linear-gradient(
      90deg,
      rgb(255, 212, 0) 0%,
      rgb(199, 49, 48) 50.52%,
      rgb(102, 54, 149) 99.61%
    );
    border: none;
    transition: all ease-in 0.5s;
  }
}

.card-product:hover .btn-quick {
    display: block;
}
